{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout {% endblock title %}
{% block body %}
<div class="_1Er18h">
    <div class="_6t1WkM _3HqJxg">
        <div class="_1YokD2 _2GoDe3 col-12-12">
            <div class="_1YokD2 _3Mn1Gg" style="flex-grow: 1; overflow: visible;">
                <div class="_1YokD2 _3Mn1Gg col-12-12" style="box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;">
                    <div class="_1YokD2 _2GoDe3 col-12-12" style="background-color: rgb(255, 255, 255);">
                        <div class="_1AtVbE col-3-12">
                            <div class="_1-GQyH">
                                <div class="_3g_HeN">My Cart (1)</div>
                                <div></div>
                            </div>
                        </div>
                        <div class="_1AtVbE col-9-12" style="margin: 5px 10px 0px 0px;">
                            <div class="_1NQxOU _3ZnIlT _2ahAd3" style="float: right;">
                                <div class="_1lE4Yy"><img
                                        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48ZWxsaXBzZSBjeD0iOSIgY3k9IjE0LjQ3OCIgZmlsbD0iI0ZGRTExQiIgcng9IjkiIHJ5PSIzLjUyMiIvPjxwYXRoIGZpbGw9IiMyODc0RjAiIGQ9Ik04LjYwOSA3LjAxYy0xLjA4IDAtMS45NTctLjgyNi0xLjk1Ny0xLjg0NSAwLS40ODkuMjA2LS45NTguNTczLTEuMzA0YTIuMDIgMi4wMiAwIDAgMSAxLjM4NC0uNTRjMS4wOCAwIDEuOTU2LjgyNSAxLjk1NiAxLjg0NCAwIC40OS0uMjA2Ljk1OS0uNTczIDEuMzA1cy0uODY0LjU0LTEuMzgzLjU0ek0zLjEzIDUuMTY1YzAgMy44NzQgNS40NzkgOC45MjIgNS40NzkgOC45MjJzNS40NzgtNS4wNDggNS40NzgtOC45MjJDMTQuMDg3IDIuMzEzIDExLjYzNCAwIDguNjA5IDAgNS41ODMgMCAzLjEzIDIuMzEzIDMuMTMgNS4xNjV6Ii8+PC9nPjwvc3ZnPg=="
                                        class="_3vWr8n"><span class="_6eO2LF">Deliver to</span></div>
                                <div class="ibtBU6 _3t6eWY"><input placeholder="Enter delivery pincode" type="text"
                                        maxlength="6" autocomplete="off" class="cfnctZ" value=""><span
                                        class="UgLoKg jlIjY-">Check</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="_1AtVbE col-12-12">
                        <div class="zab8Yh _10k93p">
                            <div class="_2nQDXZ"><a
                                    href="/man-company-luxury-edp-perfume-men-long-lasting-fragrance-premium-spray-gift-set-30ml-4-eau-de-parfum-120-ml/p/itm49003b4136f4b?pid=PERG4GFQ4F4AGRVN&amp;lid=LSTPERG4GFQ4F4AGRVNYPBKYZ&amp;marketplace=FLIPKART">
                                    <div class="CXW8mj" style="height: 112px; width: 112px;"><img
                                            class="_396cs4 _3exPp9" alt=""
                                            src="https://rukminim1.flixcart.com/image/224/224/krdtlzk0/perfume/e/f/z/120-luxury-edp-perfume-for-men-long-lasting-fragrance-premium-original-imag56s2ncejrsfp.jpeg?q=90">
                                    </div>
                                </a>
                                <div class="_3fSRat">
                                    <div class="_2-uG6-"><a class="_2Kn22P gBNbID"
                                            href="/man-company-luxury-edp-perfume-men-long-lasting-fragrance-premium-spray-gift-set-30ml-4-eau-de-parfum-120-ml/p/itm49003b4136f4b?pid=PERG4GFQ4F4AGRVN&amp;lid=LSTPERG4GFQ4F4AGRVNYPBKYZ&amp;marketplace=FLIPKART">THE
                                            MAN COMPANY Luxury EDP Perfume for Men | Long Lasting Fragrance | Premium
                                            Spray | Gift Set for Men | 30ml *4 Eau de Parfum - 120 ml</a></div>
                                    <div class="_20RCA6"> For Men &amp; Women </div>
                                    <div class="_3ZS8sw">Seller:The Man Company<img class="WC-2wP"
                                            src="//static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/fa_62673a.png">
                                    </div><span class="_2-ut7f _1WpvJ7">₹1,677</span><span
                                        class="_2-ut7f _2xc6hH">₹2,396</span><span class="dML6Ak">30% Off</span>
                                    <div class="_3zPVJV">
                                        <div class="ebO6Mt" id="offers-LSTPERG4GFQ4F4AGRVNYPBKYZ">3 offers available<svg
                                                width="14" height="14" xmlns="http://www.w3.org/2000/svg"
                                                class="_3GN0Y0">
                                                <g fill="none">
                                                    <path d="M-1-1h16v16H-1"></path>
                                                    <path
                                                        d="M7 0C3.136 0 0 3.136 0 7s3.136 7 7 7 7-3.136 7-7-3.136-7-7-7zm.7 10.5H6.3V6.3h1.4v4.2zm0-5.6H6.3V3.5h1.4v1.4z"
                                                        fill="#388e3c" class=""></path>
                                                </g>
                                            </svg></div>
                                    </div>
                                </div>
                                <div class="_2zbf83">
                                    <ul class="_1ZEsQ4">
                                        <li class="JEy4SL">
                                            <div class="_2pqhhf">Delivery by Wed Dec 22 | <span class="_3CWtsA"><span
                                                        class="_1OMRfP">Free</span></span><span
                                                    class="_3CWtsA _2_Yr5B">₹40</span></div>
                                        </li>
                                    </ul>
                                    <ul class="_31bLAK"></ul>
                                </div>
                            </div>
                            <div class="nZz3kj _1hNI6F">
                                <div class="_1uc2IE">
                                    <div class="_3dY_ZR"><button class="_23FHuj" disabled=""> – </button>
                                        <div class="_26HdzL"><input type="text" class="_253qQJ" value="1"></div><button
                                            class="_23FHuj"> + </button>
                                    </div>
                                </div>
                                <div class="_10vWcL td-FUv WDiNrH">
                                    <div class="_3dsJAO">Save for later</div>
                                    <div class="_3dsJAO">Remove</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="_1AtVbE col-12-12 _78xt5Y">
                        <div class="VUS-tD eBV0fb">
                            <form method="post" action="https://www.flipkart.com/checkout/init?loginFlow=true"><input
                                    type="hidden" name="domain" value="physical"><button
                                    class="_2KpZ6l _2ObVJD _3AWRsL"><span>Place Order</span></button></form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="_1YokD2 _3Mn1Gg col-4-12 _78xt5Y" style="padding: 0px 0px 0px 16px;">
                <div class="_1AtVbE col-12-12">
                    <div class="dimARw">
                        <div class="_35mLK5"><span class="_3aPjap">Price details</span>
                            <div class="_I_XQO">
                                <div class="Ob17DV">
                                    <div class="_24KATy">
                                        <div class="_2npqm0">Price (1 item)</div>
                                    </div><span> ₹2,396</span>
                                </div>
                                <div class="Ob17DV">
                                    <div class="_24KATy">
                                        <div class="_2npqm0">Discount</div>
                                    </div>
                                    <div class="_1YVZr_">− ₹719</div>
                                </div>
                                <div class="Ob17DV">
                                    <div class="_24KATy">
                                        <div class="_2npqm0">Delivery Charges</div>
                                    </div><span><span class="_1YVZr_ _33nGE1">Free</span></span>
                                </div>
                                <div class="_3LxTgx">
                                    <div class="Ob17DV">
                                        <div class="_24KATy">
                                            <div class="_2npqm0">Total Amount</div>
                                        </div><span>
                                            <div class="_1dqRvU">
                                                <div class="Ob17DV _3X7Jj1">
                                                    <div class="_24KATy">
                                                        <div class="_2npqm0"></div>
                                                    </div><span> ₹1,677</span>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="_3s5O6i">You will save ₹719 on this order</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_1YokD2 _3Mn1Gg col-12-12" style="padding: 20px 0px 0px;">
                    <div class="_1AtVbE col-12-12">
                        <div class="_124baV">
                            <div class="_1RVm3P">Safe and Secure Payments.Easy returns.100% Authentic products.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container">
    <div class="row mt-5">
        
        <div class="col-sm-6">
            <h4>Order Summary</h4>
            <hr>
            <div class="card mb-2">
                <div class="card-body">
                    <h5>Product: Product 1</h5>
                    <p>Quantity: 2</p>
                    <p class="fw-bold">Price: 100.00</p>
                </div>
            </div>
            <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe!
                Iure optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium
                adipisci nisi nihil in et quis?</small>
        </div>


Shiping Address 

        <div class="col-sm-4 offset-sm-1">
            <h4>Select Shipping Address</h4>
            <hr>
            <form action="tracker">
                <div class="card">
                    <div class="card-body">
                        <h5>Sonam Kumari</h5>
                        <p>Hirapur Dhanbad Jharkahnd</p>
                    </div>
                </div>
                <div class="form-check mt-2 mb-5">
                    <input class="form-check-input" type="radio" value="">
                    <label class="form-check-label fw-bold" for="">
                        Address: 1 </label>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Placed Ordered</button>
                </div>
            </form>
        </div>
    </div>
</div> -->

{% endblock body %}