{% extends 'loginbase.html' %}
{% block title2 %}
Contact Us 
{% endblock title2 %}
{% block body3 %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container contact-form">


            <div class="contact-image">
                <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>




                {% if unameerr %}
                <p>
                    Please Fill the Username Correctly Only Letter and number
                </p>
                
                {% elif emailerr %}
                <p>
                    Please Fill the Email Correctly Only Email
                </p>
            
                {% elif phoneerr %}
                <p>
                    Please Fill the Phone Correctly Only Numbers
                </p>
                
                {% elif fullsuscess %}
                <p><script>
                   alert('Sussesfully Forms filled')
                </script>
                </p>
                {% else %}
                <p>Fully Condition Broken please fill form correctly.</p>
                {% endif %}
            </div>
            <form action="contactus" method="post">
                {% csrf_token %}
                <h3>Drop Us a Message</h3>
               <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="uname" class="form-control" placeholder="Your Name *" required pattern="\b[A-Za-z0-9!@#()_-]{5,15}\b" max-length=15/>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Your Email *"  required pattern="\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b"/>
                        </div>
                        <div class="form-group">
                            <input type="tel" name="phone" class="form-control" placeholder="Your Phone Number *" required pattern=".{10,}" max-length=10 />
                        </div>
                        <div class="form-group">
                            <input type="submit" name="Submit" class="btn btn-primary" value="Send Message"required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="msg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;" required></textarea>
                        </div>
                    </div>
                </div>
            </form>
</div>
{% endblock body3 %}